---
import SvgAvatar from '../components/SvgAvatar.astro';
import Layout from '../layouts/Layout.astro';
---

<Layout>
	<section class="section">
		<h1 class="section__title">Hi! I'm Claudia</h1>
		<SvgAvatar />
		<p class="section__subtitle">
			I am a front-end developer with a passion for building user friendly and performant SPAs and
			JAMstack sites.
		</p>
	</section>
</Layout>

<style lang="scss">
	.section {
		display: grid;
		grid-template-columns: 1fr;
		grid-template-rows: max-content 1fr auto;
		place-items: center;
		margin: auto;
		max-width: 60ch;
		height: 100%;
		text-align: center;
		&__title {
			font-size: var(--font-5);
			font-weight: 600;
			margin-bottom: var(--space-s);
		}
		&__subtitle {
			font-size: var(--font-xl);
			padding: var(--space-s);
		}
	}
</style>
